/* Banner Section Style */
.banner{
    min-height: calc(var(--vh) * 100);
    padding-top: toRem(90);
    padding-bottom: toRem(90);
    transition: min-height .3s $transition-ease;
    @extend %isolation;

    @include max-md{
        text-align: center;
    }

    &__sub-title,
    &__title
    {
        color: $color-white;
        text-transform: capitalize;
        
        &__text{
            @include max-xs{
                padding: toRem(5);
            }
            @include min-sm{
                padding: toRem(10);
                display: inline-block;
            }
            @include min-lg{
                padding-right: toRem(50);
            }
        }

    }

    &__sub-title{
        font-style: italic;
        font-size: clamp(toRem(25), 6vw, toRem(100));
        
        &__text{
            background-color: rgba($color-tertiary-rgb, 0.8);
        }
    }

    &__title{
        font-size: clamp(toRem(50), 7vw, toRem(120));
        @extend %fw-semibold;
        margin-bottom: toRem(12);

        &__text{
            background-color: rgba($color-secondary-rgb, 0.8);
        }
    }
}