%transition{
    transition: all 0.15s $transition-ease;
}

%stacking-context{
    position: relative;
    isolation: isolate;
}

%full-width{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

%common-pseudo{
    content: '';
    position: absolute;
}

%overflow-hidden{
    overflow: hidden;
}

%select-none{
    user-select: none;
    pointer-events: none;
}

%border-none{
    border: 0;
}

%cursor-pointer{
    cursor: pointer;
}

%fw-light{
    font-weight: 300;
}

%fw-regular{
    font-weight: 400;
}

%fw-medium{
    font-weight: 500;
}

%fw-semibold{
    font-weight: 600;
}

%fw-bold{
    font-weight: 700;
}

%fw-extrabold{
    font-weight: 800;
}

%text-uppercase{
    text-transform: uppercase;
}

%flex-align-center{
    display: flex;
    align-items: center;
}

%isolation{
    isolation: isolate;
}

%icon-circle{
    --_size: #{toRem(100)};
    @extend %stacking-context;

    &::before{
        @extend %common-pseudo;
        z-index: -1;
        left: 0;
        bottom: 0;
        transform: translate(-15%,15%) scale(1);
        width: var(--_size);
        height: var(--_size);
        border-radius: 100rem;
        background-color: $color-white-cream;
        transition: all 0.2s $transition-ease--bounce;
    }
}