/* Common Button's Style */
.btn{
	--bs-btn-color: #{$color-black-300};
	--bs-btn-padding-y: #{toRem(10)};
	--bs-btn-padding-x: #{toRem(25)};
	--bs-btn-font-size: #{toRem(22)};
	--bs-border-radius: 0;
	@include min-md{
		--bs-btn-padding-y: #{toRem(15)};
		--bs-btn-padding-x: #{toRem(30)};
		--bs-btn-font-size: #{toRem(30)};
	}
	--bs-btn-font-family: #{$font-primary};
	--bs-btn-font-weight: 600;
	--bs-btn-line-height: 1;
	box-shadow: none !important;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: toRem(12);

	&-sm{
		--bs-btn-padding-y: #{toRem(10)};
		--bs-btn-padding-x: #{toRem(15)};
		--bs-btn-font-size: #{toRem(15)};
	}
	&-lg{
		--bs-btn-border-radius: 0;
		@include min-xl{
			--bs-btn-font-size: #{toRem(55)};
		}
	}

	&__icon{
		font-size: 110%;
	}
}

.btn-primary,
.btn-secondary,
.btn-light
{
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: var(--bs-btn-hover-bg);
	--bs-btn-active-border-color: var(--bs-btn-hover-border-color);
	
	&:focus{
		color: var(--bs-btn-hover-color);
		background-color: var(--bs-btn-hover-bg);
		border-color: var(--bs-btn-hover-border-color);
	}
}

.btn-primary{
	--bs-btn-bg: #{$color-primary};
	--bs-btn-border-color: #{$color-primary};

	--bs-btn-hover-color: #{$color-white};
	--bs-btn-hover-bg: #{$color-secondary};
	--bs-btn-hover-border-color: var(--bs-btn-hover-bg);
}

.btn-outline-primary{
	--bs-btn-hover-color: #{$color-black-300};
	--bs-btn-hover-bg: #{$color-primary};
	--bs-btn-hover-border-color: #{$color-primary};
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: var(--bs-btn-hover-bg);
	--bs-btn-active-border-color: var(--bs-btn-hover-border-color);

	&--light,
	&--dark
	{
		--bs-btn-border-color: var(--bs-btn-color);
	}
	
	&--light{
		--bs-btn-color: #{$color-white};
	}

	&--dark{
		--bs-btn-color: #{$color-black-300};
	}

	&:focus{
		color: var(--bs-btn-hover-color);
		background-color: var(--bs-btn-hover-bg);
		border-color: var(--bs-btn-hover-bg);
	}
}

.btn-secondary,
.btn-light
{
	--bs-btn-hover-color: #{$color-black-300};
	--bs-btn-hover-bg: #{$color-primary};
	--bs-btn-hover-border-color: var(--bs-btn-hover-bg);
}

.btn-secondary{
	--bs-btn-color: #{$color-white};
	--bs-btn-bg: #{$color-secondary};
	--bs-btn-border-color: var(--bs-btn-bg);

}

.btn-light{
	--bs-btn-color: #{$color-secondary};
}

.scroll-top{
	bottom: toRem(15);
	right: toRem(15);
	display: none;
	cursor: pointer;
	z-index: 7;

	&__btn{
		width: toRem(30);
		height: toRem(30);
		font-size: 1.1rem;
		color: $color-white;
		background-color: $color-tertiary;

		&:active{
			background-color: $color-secondary;
		}
	}
}