/* Common Card's Style */
.services{
    &__card{
        --_btn-size: #{toRem(50)};
        @include min-md{
            --_btn-size: #{toRem(60)};
        }
        @include min-xxl{
            --_btn-size: #{toRem(80)};
        }
        position: relative;
        display: block;
        margin-bottom: $gutter;

        &__figure{
            @extend %stacking-context;
            padding-top: 138%;

            &::after{
                background-image: linear-gradient(to bottom, transparent, $color-black);
                @extend %common-pseudo;
                @extend %full-width;
            }

            &__bg{
                @extend %full-width;
                @extend %select-none;
            }
        }

        &__content,
        &__btn
        {
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &__content{
            left: 0;
            padding: toRem(15) toRem(20);
            margin-bottom: calc(var(--_btn-size) + toRem(15));
            transition: padding .3s $transition-ease;
        }

        &__btn{
            width: var(--_btn-size);
            height: var(--_btn-size);
            font-size: toRem(26);
            display: block;
            color: $color-black-300;
            background-color: $color-primary;
            @extend %transition;
        }

        &__title{
            font-size: toRem(50);
            @include min-xxxl{
                font-size: toRem(90);
            }
        }

        @include hover{
            &:hover,
            &:focus-visible
            {
                .services__card{
                    &__content{
                        padding-bottom: toRem(40);
                    }

                    &__btn{
                        color: $color-white;
                        background-color: $color-tertiary;
                    }
                }
            }
        }
    }

    &__block{
        margin-bottom: $gutter;

        &__icon{
            @extend %icon-circle;

            &__image{
                @extend %transition;
            }
        }
        
        &__title{
            color: $color-black;
            font-size: toRem(36);
            @extend %fw-bold;
        }

        &__text{
            color: $color-gray-600;
            line-height: 1.64;
            @include min-xxxl{
                font-size: toRem(22);
            }
        }

        @include hover{
            &:hover,
            &:focus-visible
            {
                .services__block__icon{
                    &__image{
                        filter: brightness(0) invert(1);
                    }

                    &::before{
                        left: 50%;
                        bottom: -40%;
                        transform: translate(-50%, -50%) scale(1.6);
                        background-color: $color-secondary;
                    }
                }
            }
        }
    }
}