/* About Page Styles */
.details{
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
    
    @include min-lg{
        background-position: 60% 125%;
    }

    &__figure{
        @extend %stacking-context;
        padding-top: 100%;
        @include min-lg{
            padding-top: 133%;
            margin-top: toRem(100);
        }

        &__bg{
            @extend %full-width;
            @extend %select-none;
        }
    }

    &__content{
        padding: toRem(20);
        border: 1px solid $color-tertiary;
        @include min-lg{
            padding: toRem(20) toRem(40);
            margin-left: toRem(-50);
        }
    }
}

.divider{
    &__container{
        transform: translateX(-50%) translateY(-60%);
    }
    &__title__text{
        padding: toRem(15);
        background-color: #f5f4f1;
        // font-size: toRem(57);
        @include min-lg{
            font-size: toRem(40);
        }
        @include min-xxl{
            font-size: toRem(57);
            padding: toRem(15) toRem(70);
        }

        &::before{
            content: '';
            @extend %full-width;
            background-color: $color-tertiary;
            z-index: -1;
            top: toRem(10);
            left: toRem(10);
        }
    }
}