.details{
    background-repeat: no-repeat;
    background-size: 29%;
    background-position: center;
    
    @include min-lg{
        background-position: 60% 125%;
    }

    &__figure{
        @extend %stacking-context;
        padding-top: 100%;
        @include min-lg{
            padding-top: 133%;
            margin-top: toRem(100);
        }

        &__bg{
            @extend %full-width;
            @extend %select-none;
        }
    }

    &__content{
        padding: toRem(20);
        border: 1px solid $color-tertiary;
        @include min-lg{
            padding: toRem(20) toRem(40);
            margin-left: toRem(-50);
        }
    }
}